<h1>Calculadora usando Jison -- Pruebas</h1>

<p><b>Nota:</b> Hay algunos antivirus que no permiten ejecutar correctamente las pruebas (se piensan que heroku es maldad pura). Recomiendo desactivarlos con cautela o usar un explorador que no dependa del antivirus.</p>
	<p>Pruebas realizadas con Google Chrome.</p>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="test/mocha.css" />
<link href="styles.css" rel="stylesheet" type="text/css">

<div id="mocha"></div>
  <p class="loadfile">
    <input type="file" id="examples" />
  </p>
  <p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="input" name="input" 
                    autofocus cols = "40" rows = "4">
          </textarea>
          <br/>
          <label for="saveas">Save as</label>
          <input id="saveas" type="text" name="fname" 
                 title="name" pattern="\w+" />
        </form>
      </td>
      <td><button id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <div class="output">
    <pre>
<span id="output"></span> <!-- Output goes here! --> 
    </pre>
  </div>

<div id="mocha"></div>
<script src="pl0.js"></script>
<script src="calculator.js"></script>
<script src="main.js"></script>
<script src="test/chai.js"></script>
<script src="test/mocha.js"></script>
<script>mocha.setup('tdd')</script>
<script src="test/test.js"></script>
<script>mocha.run();</script>
