$red: #903;
$black: #444;
$white: #fff;
$green: #00FF33;
$blue: #002EB8;
$orange: #FF6600;
$main-font: Helvetica, Arial, sans-serif;

body {
  font-family: $main-font;
}

h1 {
  color: $red;
  font: 32px/1 $main-font;
}

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  background-size:5% 70%;
  padding-left: 84px;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: $background;
    color: $color;
    &:hover {
      background-color: $blue; //darken($background, 90%);
    }
  }
}

nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;
}

p {
  font: 13px/1.4 $main-font;
}

label {
  display: block;
}

nav a.current {
  background: lighten($black, 50%);
}

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: lighten($red, 60%);
  color: $red;
  border: 1px solid $red;
}

#like {
  p {
    font-weight: bold;
    color: $red;
  }
  input {
    background: $red url(/images/like.png) 0 2px no-repeat;
    border: darken($red, 10%) 1px solid;
    height: 28px;
    padding-left: 24px;
  }
}

.loadfile {
  background-color: $white;
  border-radius: 10px;
  border: 2px solid #DDD;
  line-height: 80px;
  
  //width: 75%;
  height: 20px;
  padding: 5px;

  button, input {
    color: $black;
    float: left;
    list-style: none;

    display: inline;
    text-align: center;
    font-weight: bolder;
  }
   
  button:hover, input:hover {
    cursor:pointer;
  }
}
   
.error {
  color: $red;
  background-color: $black;
}

.success {
  color: $green;
  background-color: $black;
}

.centered {
  text-align: center;
}
